@font-face {
    font-display: swap;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/space-mono-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../../assets/fonts/space-mono-700.woff2") format("woff2");
}
