@media (hover: hover) {
    a:hover {
        cursor: pointer;
        color: var(--hover-color);
    }

    button {
        cursor: pointer;

        &.sun-moon:hover svg path,
        &.sun-moon:hover svg circle,
        &.sun-moon:hover svg line {
            stroke: var(--hover-color);
            transition: stroke 0.3s ease;
        }

        &.arrow-up:hover svg {
            fill: var(--hover-color);
            transition: fill 0.3s ease;
        }
    }

    .card-item:hover {
        border: 3px solid var(--hover-color);
        transform: scaleY(1.05);
        transition: transform 0.4s ease;

        h3 {
            color: var(--hover-color);
            transition: color 0.4s ease;
        }
    }

    .card-item:hover .card__img.hover {
        opacity: 1;
    }

    .card-item:hover .card__img.default {
        opacity: 0;
    }
}

@media (max-width: 1024px) {
    .container-404 {
        gap: 30px;
    }
    .grid-error {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "error-text"
            "error-img";
    }

    .error-text {
        text-align: center;
    }

    .error-img {
        animation: slideInTop 1s ease forwards;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 30px;
    }

    button.sun-moon {
        top: 30px;
        right: 30px;
    }

    .name {
        display: block;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 10ch;
        }
    }

    .back-arrow {
        margin: 0 0 58px;
    }

    .cards {
        margin-bottom: 0;
    }

    .back-arrow-404 {
        top: 30px;
        left: 30px;
    }

    .title-404 {
        font-size: 150px;
    }

    .subtitle-404 {
        font-size: 24px;
    }

    .text-404 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 10px;
    }

    button.sun-moon {
        top: 10px;
        right: 10px;
    }

    h1,
    h2 {
        letter-spacing: 0;
    }

    button.arrow-up {
        right: 0;
    }

    .back-arrow-404 {
        top: 10px;
        left: 10px;
    }

    .error-text {
        gap: 10px;
    }
}
