@media (hover: hover) {
  button {
    cursor: pointer;

    &.sun-moon:hover svg path,
    &.sun-moon:hover svg circle,
    &.sun-moon:hover svg line {
      stroke: var(--hover-color);
      transition: stroke 0.3s ease;
    }

    &.arrow-up:hover svg {
      fill: var(--hover-color);
      transition: fill 0.3s ease;
    }
  }
}

@media (max-width: 700px) {
  .container {
    padding: 30px;
  }

  button.sun-moon {
    top: 30px;
    right: 30px;
  }

  .name {
    display: block;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 10ch;
    }
  }

  .back-arrow {
    margin: 0 0 58px;
  }

  .cards {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 10px;
  }

  button.sun-moon {
    top: 10px;
    right: 10px;
  }

  h1,
  h2 {
    letter-spacing: 0;
  }

  button.arrow-up {
    right: 0;
  }
}
