@use "./modules/fonts";
@use "./modules/vars";

html {
  box-sizing: border-box;
  // overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: "Space Mono", serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  // overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
  padding: 50px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

// ul,
// li {
//   list-style-type: none;
//   padding: 0 0 16px;
// }

// button,
// button:active,
// button:focus {
//   border: none;
//   // background-image: none;
//   background-color: inherit;
//   cursor: pointer;
// }

a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

p {
  margin: 0;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 4px;
  margin: 0;
  padding-bottom: 30px;
}

button.sun-moon {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 40px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

button.sun-moon svg {
  stroke: var(--icon-color);
  transition: stroke 0.3s ease;
}

button.sun-moon:hover svg path,
button.sun-moon:hover svg circle,
button.sun-moon:hover svg line {
  stroke: var(--hover-color); 
  transition: stroke 0.3s ease;
}

.grid-content {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(5, auto);
  column-gap: 6px;
  row-gap: 16px;
  padding-bottom: 30px;
}

.footer__text {
  font-size: 14px;
}

span.copy {
  font-size: 24px;
  vertical-align: top;
}

@import './modules/media';