@use "./modules/fonts";
@use "./modules/vars";

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: transparent; /* задается скриптом */
    color: transparent;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-family: "Space Mono", serif;
    font-weight: 400;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background: inherit;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid var(--text-color);

    &:hover {
        border: 1px solid var(--hover-color);
        background-color: var(--hover-color);
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1540px;
    min-height: 100%;
    padding: 50px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease;
}

button {
    border: none;
    background-color: inherit;
}

p {
    margin: 0;
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 4px;
    margin: 0 0 30px;
}

#typewriter {
    overflow: hidden;
    border-right: 2px solid var(--hover-color);
    white-space: nowrap;
    animation: typing 2s steps(18, end), blink 0.5s steps(18, end) 4s infinite;
}

#typewriter.finished {
    overflow: visible;
    border-right: none;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 20ch;
    }
}

@keyframes blink {
    from {
        border-right-color: var(--hover-color);
    }
    to {
        border-right-color: transparent;
    }
}

.header__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.back-arrow {
    display: block;
    width: 30px;
    height: 100%;
    margin: 0 0 24px;

    & svg {
        fill: var(--icon-color);
    }

    &:hover svg {
        fill: var(--hover-color);
        transition: fill 0.3s ease;
    }
}

button.sun-moon {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 40px;

    opacity: 0;
    visibility: hidden;

    &.visible {
        display: block;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    &.hidden {
        display: none;
    }

    & svg {
        stroke: var(--icon-color);
        transition: stroke 0.3s ease;
    }
}

.main,
.footer {
    opacity: 0;
    visibility: hidden;
    transform: translateY(150px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.main.finished,
.footer.finished {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.grid-content {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: repeat(5, auto);
    column-gap: 6px;
    row-gap: 16px;
    padding-bottom: 30px;
}

.forward-arrow {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-left: 10px;
    vertical-align: top;
    rotate: 180deg;
}

.cards {
    min-height: 80vh;
    columns: 300px;
    column-gap: var(--gap);
    margin: 50px 0;
}

.card-item {
    position: relative;
    width: 300px;
    min-height: 450px;
    margin: 0 auto var(--gap);
    break-inside: avoid;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    opacity: 0;
    transition: opacity 3s ease;

    &.loaded {
        opacity: 1;
    }

    &.active {
        border: 3px solid var(--hover-color);
        transition: color 0.4s ease;

        h3 {
            color: var(--hover-color);
            transition: color 0.4s ease;
        }
    }
}

.card__img-wrapper {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 17px 17px 0 0;
    overflow: hidden;
}

.card__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 17px 17px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.4s ease;
}

.card__img.default {
    opacity: 1;
    z-index: 1;
}

.card__img.hover {
    opacity: 0;
    z-index: 2;
}

.card-item.active .card__img.hover {
    opacity: 1;
}

.card-item.active .card__img.default {
    opacity: 0;
}

.card__text {
    padding: 20px;
    color: var(--text-color);
}

.footer__text {
    font-size: 14px;

    &.center {
        text-align: center;
        padding-top: 20px;
    }
}

span.copy {
    font-size: 24px;
    vertical-align: -9px;
}

button.arrow-up {
    position: fixed;
    width: 50px;
    height: 40px;
    bottom: 40px;
    right: 8px;
    color: var(--icon-color);
    z-index: 10;
    opacity: 0;
    visibility: hidden;

    &.visible {
        display: block;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }

    &.hidden {
        display: none;
    }

    svg {
        stroke: var(--icon-color);
    }
}

.container-404 {
    gap: 50px;
}

.header-404 {
    min-height: 50px;
}

.back-arrow-404 {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 30px;
    margin: 0;
}

.grid-error {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "error-text error-img";
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.error-text {
    display: flex;
    flex-direction: column;
    grid-area: error-text;
    gap: 30px;
}

.title-404 {
    font-weight: 700;
    font-size: 200px;
}

.subtitle-404 {
    font-size: 30px;
}

.text-404 {
    font-size: 20px;
}

.error-img {
    position: relative;
    grid-area: error-img;
    background-image: url("../assets/okak-404.webp");
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    border: 2px solid var(--text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: slideInRight 0.8s ease forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer__text-404 {
    text-align: center;
}

@import "./modules/media";
