@use "./modules/vars";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  background-color: transparent; /* Фон задается скриптом */
  color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: "Space Mono", serif;
  font-weight: 400;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    background: inherit;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid var(--text-color);
    
    &:hover {
      border: 1px solid var(--hover-color);
      background-color: var(--hover-color);
    }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1540px;
  min-height: 100%;
  padding: 50px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;

  &:hover {
    color: var(--hover-color);
    cursor: pointer;
  }
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 4px;
  margin: 0 0 30px;
}

#typewriter {
  overflow: hidden;
  border-right: 2px solid var(--hover-color);
  white-space: nowrap;
  animation: typing 4s steps(18, end), blink 0.5s steps(18, end) 4s infinite;
}

#typewriter.finished {
  overflow: visible;
  border-right: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20ch;
  }
}

@keyframes blink {
  from {
    border-right-color: var(--hover-color);
  }
  to {
    border-right-color: transparent;
  }
}

.header__title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-arrow {
  display: block;
  width: 30px;
  height: 100%;
  margin: 0 0 24px;
  transition: all 0.3s ease;
}

button.sun-moon {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 40px;

  opacity: 0;
  visibility: hidden;

  &.visible {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  &.hidden {
    display: none;
  }
  
  & svg {
    stroke: var(--icon-color);
    transition: stroke 0.3s ease;
  }

  &:hover svg path,
  &:hover svg circle,
  &:hover svg line {
    stroke: var(--hover-color);
    transition: stroke 0.3s ease;
  }
}

.main,
.footer {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.main.finished,
.footer.finished {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.grid-content {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(5, auto);
  column-gap: 6px;
  row-gap: 16px;
  padding-bottom: 30px;
}

.cards {
  columns: 300px;
  column-gap: var(--gap);
  margin: 50px 0;
}

.card-item {
  position: relative;
  width: 300px;
  height: auto;
  margin: 0 auto var(--gap); 
  break-inside: avoid;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;

  &.finished {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }

  &:hover {
    border: 3px solid var(--hover-color);
    transform: scaleY(1.1);

    h3 {
      color: var(--hover-color);
    }
  }

  &.touched {
    border: 3px solid var(--hover-color);
    transform: scaleY(1.1);

    h3 {
      color: var(--hover-color);
    }
  }
}

.card__img {
  width: 100%;
  height: 350px;
  border-radius: 19px 19px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
}

.card__text {
  padding: 20px;
  color: var(--text-color);
}

.footer__text {
  font-size: 14px;

  &.center {
    text-align: center;
    padding-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

      &.finished {
      opacity: 1;
      visibility: visible;
    }
  }
}

span.copy {
  font-size: 24px;
  vertical-align: top;
}

button.arrow-up {
  position: fixed;
  width: 50px;
  height: 40px;
  bottom: 40px;
  right: 8px;
  color: var(--icon-color);
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &.visible {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  &.hidden {
    display: none;
  }


  svg {
    stroke: var(--icon-color);

    &:hover {
      fill: var(--hover-color);
      transition: all 0.3s ease;
    }
  }
}

@import './modules/media';